#name {
  color: lightblue;

}

#table-row {
  color: green;
}

#btn-group {
  display: flex;
}

#table-row {
  text-shadow: 2px 2px lightblue;
}

#details {
  font-size: 150%;
}

body {
    background-color: lightblue;
}
